/* GLOBAL HTML CONTENT STYLING */

.content-html {
  position: relative;
  font-family: Arial, sans-serif !important;
  font-size: 0.9rem;
}

/* Force ALL nested elements */
.content-html * {
  font-family: Arial, sans-serif !important;
}

.content-html h1 {
  font-size: 1.75rem;
  font-weight: 700;
  margin: 1rem 0;
}

.content-html h2 {
  font-size: 1.1rem;
  font-weight: 600;
  margin: 1.2rem 0 0.8rem 0;
  color: rgb(31, 30, 30);
}

.content-html h3 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0.75rem 0;
}

.content-html h4 {
  font-size: 1.05rem;
  font-weight: 600;
  margin: 0.25rem 0;
}

.content-html p {
  font-size: 0.9rem;
  margin-bottom: 0.7rem;
  line-height: 1.25;
  word-spacing: 0.04rem;
  text-align: justify;
}

.content-html ul {
  padding-left: 1.25rem;
  list-style-type: disc;
  margin-bottom: 0.75rem;
}

.content-html ol {
  padding-left: 1.25rem;
  list-style-type: decimal;
  margin-bottom: 0.75rem;
}

.content-html li {
  margin-bottom: 0.4rem;
  line-height: 1.6;
}

.content-html a {
  color: #dc2626;
  text-decoration: underline;
}

.content-html strong {
  font-weight: 600;
}

.content-html img {
  border-radius: 12px;
  margin: 10px 0;
  max-width: 100%;
}

/* COLLAPSE EFFECT */
.content-html.collapsed {
  max-height: 120px;
  overflow: hidden;
}

.content-html.fade::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 100%;
  background: linear-gradient(to bottom, transparent, white);
}