@import "tailwindcss";


* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}


/* === Toastify Progress Bar start === */
.custom-toast {
  position: relative;
  overflow: hidden;
}

.custom-toast::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  border-radius: 5px;
  animation: progressBar 3s linear forwards;
  background-color: #22c55e; /* Tailwind green-500 */
}

@keyframes progressBar {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
/* === Toastify Progress Bar end === */



/* Hide scrollbar for all browsers (for filtersSidebar) */
.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.scrollbar-none {
  -ms-overflow-style: none; /* IE / Edge */
  scrollbar-width: none; /* Firefox */
}


.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}





/* List your business */
.input{
border:1px solid #e5e7eb;
padding:10px 14px;
border-radius:10px;
width:100%;
transition:all .2s;
}

.input:focus{
outline:none;
border-color:#dc2626;
box-shadow:0 0 0 2px rgba(220,38,38,.15);
}

.btn-primary{
background:#dc2626;
color:white;
padding:10px 18px;
border-radius:10px;
font-weight:500;
cursor:pointer;
transition:.2s;
}

.btn-primary:hover{
background:#b91c1c;
}

.btn-secondary{
border:1px solid #e5e7eb;
padding:10px 18px;
border-radius:10px;
cursor:pointer;
}

.error{
color:#ef4444;
font-size:12px;
margin-top:4px;
}

.input{
  @apply w-full border border-gray-300 rounded-lg px-4 py-3 text-sm focus:outline-none focus:ring-2 focus:ring-red-500 focus:border-transparent transition;
}

.btn-primary{
  @apply bg-red-600 text-white px-6 py-3 rounded-lg font-medium hover:bg-red-700 transition cursor-pointer;
}

.btn-secondary{
  @apply border border-gray-300 text-gray-700 px-6 py-3 rounded-lg font-medium hover:bg-gray-50 transition cursor-pointer;
}

.error{
  @apply text-red-500 text-xs mt-1;
}








































/*! unused css */


/* Shake animation */
/* @keyframes softShake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-4px);
  }
  50% {
    transform: translateX(4px);
  }
  75% {
    transform: translateX(-2px);
  }
}

.animate-softShake {
  animation: softShake 0.4s ease-in-out;
} */

/* Smooth fade */
/* @keyframes fadeInSmooth {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeInSmooth {
  animation: fadeInSmooth 0.4s ease forwards;
} */